{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block main %}
<header class="main-header">
    About Me
</header>
    I'm an aspiring software engineer that wants to focus on artificial intellegence, but find the whole notion of coding facinating. Currently the only class ive taken is CS50 but as long as one didnt cheat, it served as a great tool for learning which is the reason I was able to carry out this project. I'm forever grateful for the professors at harvard for making this course open source. Im also forever greatful for my girlfriend that encouraged me heavily to go on this path.
{% endblock %}