{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block main %}
<header class="main-header">
    About Me
</header>
    I'm an aspiring software engineer that wants to focus on artificial intelligence, but finds the whole notion of coding fascinating. Currently, the only class I've taken is CS50 but as long as I didn't cheat, it served as a great tool for learning which is the reason I was able to carry out this project. I'm forever grateful to the professors at Harvard for making this course open source. I'm also forever grateful for my girlfriend that encouraged me heavily to go on this path.
{% endblock %}