{% extends "layout.html" %}

{% block title %}
    {{article_name}}
{% endblock %}

{% block main %}
<script>
    function editor() {
        var div = document.getElementById("edit");
        div.setAttribute('contenteditable', 'true');

        var block_to_insert;
        var container_block;
        block_to_insert = document.createElement('div');
        block_to_insert.innerHTML = 'Now editing';
        block_to_insert.setAttribute('id', 'editing-indicator')
        container_block = document.getElementById('header-edit');
        container_block.appendChild( block_to_insert );

        var edit_button = document.getElementById("edit-to-sub");
        edit_button.setAttribute('id', 'sub-to-edit');
        edit_button.setAttribute('type', 'submit');
        edit_button.setAttribute('onclick', 'save_edit()');
        edit_button.setAttribute('name', 'sub_to_edit');
        edit_button.innerHTML = "Submit";
    }
    function save_edit() {
        var div = document.getElementById("edit");
        div.setAttribute('contenteditable', 'false');

        var bodyT = document.getElementById("body-o-mine")
        var div2 = document.getElementById("title-o-mine");
        const URL = '/article'
        const req = new XMLHttpRequest();
        sender2 = JSON.stringify(div2.innerText);
        sender = JSON.stringify(bodyT.innerText)
        req.open('POST', URL);
        req.send([[sender2] + ['+++'] + [sender] + ['+++']]);

        var editElem = document.getElementById("sub-to-edit");
        var userVersion = editElem.innerHTML;
        localStorage.userEdits = userVersion;
        var sub_button = document.getElementById('sub-to-edit')
        sub_button.setAttribute('id', 'edit-to-sub');
        sub_button.setAttribute('type', 'button');
        sub_button.setAttribute('onclick', 'editor()');
        sub_button.setAttribute('name', 'edit-to-sub');
        sub_button.innerHTML = "edit";

        var to_delete = document.getElementById("editing-indicator");
        to_delete.parentNode.removeChild(to_delete);
    }

    function get_title() {
        const URL = '/article'
        const req = new XMLHttpRequest();
        var div2 = document.getElementById("title-o-mine");
        sender2 = JSON.stringify(div2.innerText);
        req.open('POST', URL);
        req.send(sender2);
    }
</script>

<div class="mediumfont">
    <header class="main-header" id="header-edit">
        <div id="title-o-mine">
        {{ title }}
        </div>
        <button class="edit-button" id="edit-to-sub" name="edit-to-sub" onclick="editor()" type="button">edit</button>
    </header>
    <div>
        <div id="edit" contenteditable="false">
            <div id="body-o-mine">
                {{ body }}
            </div>
            {% if pic %}
                <br><img src="static/doge.jpg" >
            {% endif %}
        </div>
        <div name="sidearea">

        </div>
    </div>
</div>
{% endblock %}