{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <header class="padded-header">
        Welcome to WIKICLONE,
        <p class="smallfont"> The free clone of Wikipedia that anyone can edit</p>
    </header>
    <div class="container-m1">
        <div class="left-home-grid">
            <div class="inner-container-l">
                From todays featured article
            </div>
            Paper Mario: Color Splash is a 2016 video game developed by Intelligent Systems and published by Nintendo for the Wii U console. It is the fifth game in the Paper Mario series. The story follows Mario and a paint bucket named Huey as they work to save Prisma Island and rescue Princess Peach from Bowser. The game world is made up of crafting materials. Along the way, Mario and Huey encounter places that lack color, and Mario must fill them in with his paint hammer. The developers focused on color-themed puzzles and comedy, and implemented card-based combat to use the gamepad's touchscreen to sort, paint, and flick cards. Color Splash was initially criticized for its focus on turn-based action-adventure elements, continuing the trend started by its predecessor to move the series away from its role-playing game roots. However, it received generally positive reviews upon release, gaining praise for its writing, graphics, and gameplay elements. (Full article...)
        </div>
        <div class="right-home-grid">
            <div class="inner-container-r">
                In the news
            </div>
            NASA releases the first operational image (shown) taken by the James Webb Space Telescope.<br>
            Protesters storm the President's House in Colombo, Sri Lanka, forcing President Gotabaya Rajapaksa to flee and Prime Minister Ranil Wickremesinghe to agree to resign.
        </div>
    </div>
{% endblock %}